<!-- <nav class="navbar navbar-default "> -->
<div class="container-fluid head">
    <a class="navbar-brand" href="/">
        <%= image_tag "logo.png", size: "60x60", class: "logo" %>
    </a>
    <div class="collapse navbar-collapse bar" id="navbarEexample3">
        <form class="navbar-form hashtag" role="search">
          	<div class="form-group">
                <input type="text" name="hashtag" value="ハッシュタグ(全体)" class="form-size">
          	</div>
          	<button type="submit" class="btn btn-default">検索</button>
        </form>
        <form class="navbar-form kensaku" role="search">
          	<div class="form-group">
				<select name="genre" size="1" class="form-size">
                    <option value="">ジャンル</option>
                    <option value="1">豚骨</option>
                    <option value="2">家系</option>
                    <option value="3">二郎系</option>
                    <option value="4">まぜそば</option>
                    <option value="5">つけ麺</option>
                    <option value="6">醤油</option>
                    <option value="7">味噌</option>
                    <option value="8">塩</option>
                    <option value="9">タンメン</option>
                    <option value="10">その他</option>
                </select>
          	</div>
          	<button type="submit" class="btn btn-default">検索</button>
        </form>
        <div class="tabs">
        <% if user_signed_in?%>
            <% if request.fullpath == "/users" %>
                <a href="/" class="btn btns">全てのユーザーの投稿をみる</a>
            <% else%>
                <a href="/users" class="btn btns">フォローしているユーザーの投稿をみる</a>
            <% end %>
        <% end%>
        </div>
    </div>
</div>