<ul class="list-group list-rank">
  <li class="list-group-item title">ランキング</li>
  <li class="list-group-item">
    <%= image_tag 'jirou.png', class: 'ranking-ime'%>
    <h2 class="ramen-image-title">{{ １位 }}</h2>
  </li>
  <li class="list-group-item">２位</li>
  <li class="list-group-item">３位</li>
  <li class="list-group-item">４位</li>
  <li class="list-group-item">５位</li>
</ul>