    <ul class="list-group">
        <li class="list-group-item" id="list1">
            <%= image_tag 'ra-mennmann.jpeg',:class => "icon", :size => "50x50"%>
            〇〇さん
        </li>
        <li class="list-group-item" id="list1">ラーメン二郎（二郎系）</li>
        <li class="list-group-item" id="list3">超高カロリー</li>
        <li class="list-group-item ramen-image" id="list4">
            <%= image_tag 'jirou.png', class: 'ra-ime'%>
            <h2 class="ramen-image-title">{{ title }}</h2>
            <h3 class="ramen-image-genre">{{ ragen }}</h3>
        </li>
        <li class="list-group-item" id="list5">
            <a href="#" class="btn btns">いいね！</a>
            <a href="#" class="btn   btns">コメント</a>
            <a href="#" class="btn   btns">マップ</a>
        </li>
    </ul>