<div id="new" class="new container">
  <form >
    <label>
      <i class="fas fa-image"></i>
      <p>画像を選択</p>
      <input type="file" v-on:change="handlecahnge" class="hidden"/>
    </label>
    <div class="new-select">
        <input type="radio" name="genre" id="select1" value="1" checked="" v-model="ragen">
        <label for="select1">豚骨</label>
        <input type="radio" name="genre" id="select2" value="2" v-model="ragen">
        <label for="select2">家系</label>
        <input type="radio" name="genre" id="select3" value="3" v-model="ragen">
        <label for="select3">二郎</label>
        <input type="radio" name="genre" id="select4" value="4" v-model="ragen">
        <label for="select4">まぜそば</label>
        <input type="radio" name="genre" id="select5" value="5" v-model="ragen">
        <label for="select5">つけ麺</label>
        <input type="radio" name="genre" id="select5" value="6" v-model="ragen">
        <label for="select5">しょうゆ</label>
        <input type="radio" name="genre" id="select5" value="7" v-model="ragen">
        <label for="select5">味噌</label>
        <input type="radio" name="genre" id="select5" value="8" v-model="ragen">
        <label for="select5">その他</label>
    </div>
    <label class="form-item">
      <h2>ラーメン名</h2>
      <input type="text" name="title" v-model="title">
    </label>
    <div v-if="preview" class="ramen-image">
      <img v-bind:src="preview" class="new-image img-rounded"/>
      <h2>{{ title }}</h2>
      <h4>{{ ragen }}</h4>
    </div>
    <label class = "form-item">
      <textarea name="review" ></textarea>
    </label>
    <button type="submit" name="button" class="btn btn-ramen">投稿</button>
  </form>
</div>
