
// Place all the styles related to the noodles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new{
  @media (max-width: 991px){
    .container{
      margin: 0;
      width:100vw;
      text-align: center;
    }
  }
  padding-bottom: 15px;
  p{
    display: inline;
  }
  .hidden{
    display: none;
  }
  .label-block{
    display: block;
    clear: both;
  }
  .new-image{
    width: 70%;
  }
  .new-select{
  	.select-input{
      display: none;
    }
    .select-label{
    	display: block;
    	float: left;
    	cursor: pointer;
    	width: 100px;
    	margin: 0;
    	padding: 12px 5px;
    	border-right: 1px solid #abb2b7;
    	background: #bdc3c7;
    	color: #555e64;
    	font-size: 14px;
    	text-align: center;
    	line-height: 1;
      transition: .2s;
    }
    label:first-of-type{
    	border-radius: 3px 0 0 3px;
    }
    input[type="radio"]:checked + label {
    	background-color: rgba(238, 29, 36, 0.7);
    	color: #fff;
    }
  }
  .shop-input{
    border-radius: 10px;
    margin-top: 15px;
  }
  .shop-list{
    list-style: none;
  }
  .ramen-image{
    position: relative;
    margin-bottom: 20px;
    .ramen-image-title{
      position: absolute;
      color: white;
      top: 10px;
      left: 20px;
    }
    .ramen-image-genre{
      position: absolute;
      color: #fff;
      bottom: 10px;
      left: 20px;
    }
  }
  .review-form{
    width: 60%;
  }
  .review{
    border-radius: 2px;
    width: 100%;
  }
  .btn-ramen{
    background-color: rgba(238, 29, 36, 0.7);
    color: #fff;
    position: fixed;
    top: 15px;
    right: 30%;
  }
  .credit{
    position: fixed;
    bottom: 0;
    left: 10px;
  }
}

#index{
  background-color: #f5f8fa;
  .container-fluid{
      color: #fff;
  }
  .post-btn{
    padding: 4px 7px;
    margin-top: 10px; 
    vertical-align:middle;
    color:#fff;
    background-color: rgba(238, 29, 36, 0.7);
}
  .header-height{
    background-color: #fff;
    position:fixed;
    top: 0;
    width:100%;
    height: 90px;
    z-index: 1;
  }
  .kensaku{
    position:absolute;
    right:10px;
    padding-top:5px;
    padding-bottom:5px;
    margin: 0;
  }
  .form-color{
    background-color: #f0eef3;
  }
  .main{
    padding-top: 100px;
    
    .profile{
      margin: auto 0;

      .icon{
        width: 180px;
        border-radius: 50%;
      }
    }
    }
    .ramen-image{
      position: relative;
      .ra-ime{
        width:100%;
      }
      .ramen-image-title{
        position: absolute;
        color: white;
        top: 10px;
        left: 20px;
      }
      .ramen-image-genre{
        position: absolute;
        color: #fff;
        bottom: 10px;
        left: 20px;
      }
    }
    .main-tab{
      background-color: rgba(238, 29, 36, 0.7);
      color: #fff;
      }
    .list-group{
      margin-top:20px;
      .icon{
        border-radius: 50%;
      }
    }
    .btns{
      margin-right:10px;
      background-color: rgba(238, 29, 36, 0.7);
      color: #fff;
    }
    .title{
      background-color: rgba(238, 29, 36, 0.7);
      color: #fff;
    }
    .ranking-ime{
      width: 100%;
    }
    .ramen-image-title{
      position: absolute;
      color: white;
      top: 10px;
      left: 20px;
    }
   @media (max-width: 991px){
    .rank{
      display: none;
    }
    .content{
      width:100vw;
    }
    .main{
      margin:0;
    }
   }
   @media (min-width: 992px){
     .min_rank{
       display: none;
     }
   }
   .nav-size{
     height:50px;
     width:100px;
     float:left;
   }
}

