// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index{
  .container-fluid{
  background-color:red;
  }
  .navbar-form{
  float:right;
  }

  .thumbnail{
  width:200px;
  float:left;
  padding-top:30px;
  }

  .posts{
  float:left;
  margin-left:50px;
  }

  .list-group{
  margin-top:20px;
  width:600px;
  }

}
